git+https://github.com/jimporter/mike.git@master#egg=mike
git+https://github.com/ultrabug/mkdocs-static-i18n.git@optimzed_search_dedup#egg=mkdocs-static-i18n
mkdocs-material
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-macros-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
