# These files are text files
# user files
*.cfg text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
*.res text eol=crlf

# dev files
*.sh text eol=lf
*.yml text eol=lf
*.css text eol=lf
.git* text eol=lf

# These are not
*.jpg -text
*.png -text
*.ico -text
