INHERIT: mkdocs.base.yml
plugins:
  - redirects: {redirect_maps: {'next_steps/troubleshoot.md': 'next_steps/quick_fixes.md'}}
  - social: {}
  - i18n:
      default_language: en
      search_reconfigure: false
      languages:
        en: English
        pt: Português
        ru: Pусский
        es: Español
        fr: Français
        tr: Türkçe
      nav_translations:
        ru:
          FAQ: Часто задаваемые вопросы
          Support Me: Поддержка
          Help: Помощь
          Features: Функции
          Benchmarks: Тест
          Security: Политика безопасности
          Credits: Благодарность
          Clean Up: Очистка
          Install: установить
          Launch Options: Параметры запуска
          Custom Configs: Кастомизация
          Modules: Модули
          List of Custom Configs: Список пользовательских конфигов
          See Also: Посмотрите также
          OS Optimizations: Оптимизация операционной системы
          Quick Fixes: Быстрые исправления
          Update: Обновление
          TF2 Documentation: Документация по тф2
          Misconceptions: Заблуждения
          Silly Launch Options: Незначительные Параметры Запуска
        pt:
          Clean Up: Limpeza Completa
          Install: Instalar
        tr:
          Clean Up: Temizleme
  - search: {separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'}
  - macros: {}
  - mike: {canonical_version: latest}
  - git-revision-date-localized: {type: timeago, enable_creation_date: true, fallback_to_build_date: true}
  - minify: {minify_html: true}
  - privacy: {}
  - git-committers: {repository: mastercomfig/mastercomfig, branch: "develop"}
  - offline: {}
