site_name: mastercomfig docs
site_author: mastercoms
site_url: https://docs.mastercomfig.com/
site_description: A modern Team Fortress 2 performance and customization config.
copyright: 'Copyright &copy; 2016-2020 mastercoms<br><br>Valve, the Valve logo, Steam, the Steam logo, Team Fortress, the Team Fortress logo, Source, the Source logo
are trademarks and/or registered trademarks of Valve Corporation in the U.S. and/or other countries.<br><br>mastercomfig is not sponsored, endorsed, licensed by, or affiliated with Valve Corporation.'
strict: true
nav:
    - About:
        - Home: 'index.md'
        - FAQ: 'faq.md'
        - Support Me: 'support_me.md'
        - Help: 'help.md'
        - Features: 'features.md'
        - Screenshots: 'screenshots.md'
        - Benchmarks: 'benchmarks.md'
        - Contributing: 'contributing.md'
        - Credits: 'credits.md'
    - Setup:
        - Clean Up: 'setup/clean_up.md'
        - Install: 'setup/install.md'
    - Customization:
        - Launch Options: 'customization/launch_options.md'
        - Custom Configs:  'customization/custom_configs.md'
        - Modules: 'customization/modules.md'
        - List of Custom Configs: 'customization/custom_config_list.md'
        - See Also: 'customization/see_also.md'
    - OS Optimizations:
        - OS Optimizations: 'os/index.md'
        - Windows: 'os/windows.md'
        - Linux: 'os/linux.md'
    - Next Steps:
        - Troubleshooting: 'next_steps/troubleshoot.md'
        - Update: 'next_steps/update.md'
    - TF2 Documentation:
        - Misconceptions: 'tf2/misconceptions.md'
        - Console Variables - Windows: 'tf2/cvarlist_win.md'
        - Console Variables - Linux: 'tf2/cvarlist_linux.md'
        - Hidden Console Variables: 'tf2/hiddencvars.md'
        - Launch Options - Windows: 'tf2/launchopts_win.md'
        - Launch Options - Linux: 'tf2/launchopts_linux.md'
        - Silly Launch Options: 'tf2/silly_launch_options.md'
        - Generating TF2 Data: 'tf2/README.md'
markdown_extensions:
    - admonition
    - smarty
    - toc:
        permalink: true
    - codehilite:
        guess_lang: False
        use_pygments: True
        noclasses: True
        pygments_style: monokai
    - meta
    - pymdownx.emoji
    - pymdownx.inlinehilite:
        style_plain_text: True
    - pymdownx.magiclink
    - pymdownx.smartsymbols
    - pymdownx.superfences
    - pymdownx.tabbed
theme:
    language: en
    features:
        - instant
    name: material
    palette:
        primary: teal
        accent: teal
    logo: img/logo.png
    favicon: img/logo.ico
    icon:
        repo: fontawesome/brands/github
repo_name: GitHub
repo_url: https://github.com/mastercomfig/mastercomfig/
edit_uri: https://github.com/mastercomfig/mastercomfig/edit/release/docs/
plugins:
    - search
    - minify:
        minify_html: true
    - git-revision-date-localized:
        type: date
extra_css:
  - 'stylesheets/dark-theme-v5.css'
extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/mastercomfig/mastercomfig/
        - icon: fontawesome/brands/discord
          link: https://discord.gg/CuPb2zV
        - icon: fontawesome/brands/steam
          link: https://steamcommunity.com/groups/comfig
