name: docs

on:
  push:
    branches: [ develop, release ]
    paths:
      - docs/**
      - mkdocs.yml
      - .github/workflows/docs.yml
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Track Docs Branch
      run: git branch docs -t origin/docs
    - uses: actions/setup-python@v4
      with:
        python-version: 3.x
    - uses: actions/cache@v3
      with:
        key: ${{ github.ref }}
        path: .cache
    - name: Update pip
      run: python -m pip install -U pip setuptools
    - name: Set Git author
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
    - name: Install native dependencies
      run: sudo apt-get install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
    - name: Install wheel
      run: pip install wheel
    - name: Install Material for MkDocs Insiders
      run: pip install git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
      if: ${{ github.repository_owner == 'mastercomfig' && github.event_name != 'pull_request' }}
      env:
        GH_TOKEN: ${{secrets.PRIVATE_REPO_TOKEN}}
    - name: Install dependencies
      run: pip install -r docs/requirements.txt
    - name: Wait on release docs
      if: ${{ github.repository_owner == 'mastercomfig' && github.event_name != 'pull_request' && github.ref == 'refs/heads/develop' }}
      run:
        sleep 240
    - name: Update from Remote
      run: git fetch --tags -f
    - name: Build docs (latest)
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/release' }}
      run: mike deploy --alias-type copy -b docs -up $(git describe --tags --abbrev=0) latest page
      env:
        GH_TOKEN: ${{secrets.PRIVATE_REPO_TOKEN}}
    - name: Build docs (develop)
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/develop' }}
      run: mike deploy --alias-type copy -b docs -p dev
      env:
        GH_TOKEN: ${{secrets.PRIVATE_REPO_TOKEN}}
    - name: Build docs
      if: ${{ github.event_name == 'pull_request' }}
      run: mike deploy --config-file mkdocs.base.yml -u $(git describe --tags) latest
