name: CI

on:
  push:
    branches: [ develop, release ]
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - '!.github/workflows/**'
      - '.remarkrc'
      - '*.md'
      - '*.yml'
      - '*.json'
  pull_request:
    branches: [ develop, release ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        clean: false
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        sudo dpkg --add-architecture i386
        sudo apt-get update
        echo steam steam/question select "I AGREE" | sudo debconf-set-selections
        echo steam steam/license note '' | sudo debconf-set-selections
        sudo DEBIAN_FRONTEND=noninteractive apt-get -yq install steamcmd dos2unix lib32z1 libncurses5:i386 libbz2-1.0:i386 lib32gcc1 lib32stdc++6 libtinfo5:i386 libcurl3-gnutls:i386
        /usr/games/steamcmd +login anonymous +force_install_dir ./tf2 +download_depot 232250 232256 +quit
        sudo bash -c 'cat <<\EOF >> /usr/local/bin/vpk
        #!/bin/bash
        VPK_LINUX=$(find "${HOME}" -type f -iname "vpk_linux32" -print | head -n 1)
        VALVE_LIB_DIR=$(dirname "${VPK_LINUX}")
        LD_LIBRARY_PATH="${VALVE_LIB_DIR}:${LD_LIBRARY_PATH}" "${VPK_LINUX}" "${@}"
        EOF'
        sudo chmod +x /usr/local/bin/vpk
    - name: Build mastercomfig
      run: dev/release.sh
      env:
        prerelease: true
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: mastercomfig
        if-no-files-found: error
        path: |
          dev/prerelease/presets
          dev/prerelease/addons
          dev/prerelease/comfig
          dev/prerelease/template
